<div class="row m-3">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">{{book?.title}}</h2>

    <h6 class="text-center">{{book?.subTitle}}</h6>

    <div class=" m-3">
      <img class="rounded center-block" src="{{book?.thumbnail}}">
    </div>
    <!-- When Angular renders the view before project got a value assigned, it causes an exception. ?. stops evaluating when project is null or undefined, which usually happens when data is fetched async, for example from the server which can take quite some time. -->

    <dl>
      <dt>Description</dt>
      <dd>
           <!-- contains html -->
        <p [innerHtml]="book?.description"></p>
      </dd>
      <div *ngFor="let author of book?.authors">
        <dt>author</dt>
        <dd>{{author}}</dd>
      </div>

      <dt *ngFor="let category of book?.categories">Categories</dt>
      <dd>
        <span class="mr-1 badge badge-pill badge-default">
          {{category}}
        </span>
      </dd>

      <dt>Published Date</dt>
      <dd>{{book?.publishDate}}</dd>

      <dt>Publisher</dt>
      <dd>{{book?.publishedDate}}</dd>
    </dl>

    <p>
      <button type="button" class="btn btn-primary" *ngIf="!hasBook(book)" (click)="addBook(book)" >Add To Library
      </button>
      <button type="button" class="btn btn-default" *ngIf="hasBook(book)" (click)="removeBook(book)">Remove From Library
      </button>
    </p>
  </div>
</div>
